@charset "utf-8";
@import "../../layui/css/layui.css";
* {
    margin: 0px;
    padding: 0px;
}
a {
    text-decoration: none;
}
html {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

body {
    width: 100%;
    min-height: 100%;
}
.layui-header .left_open{
    height: 45px;
    float: left;
    position: absolute;
    left: 168px;
    top: 7px;
}
.layui-header .left_open i {
    display: block;
    background: rgba(255, 255, 255, 0.1) 0 0 no-repeat;
    color: #fff;
    width: 32px;
    height: 32px;
    line-height: 32px;
    border-radius: 3px;
    text-align: center;
    margin-top: 7px;
    cursor: pointer;
}
.layui-header .left_open i:hover {
    background: rgba(255, 255, 255, 0.3) 0 0 no-repeat;
}
.rightMenu {
    position: absolute;
    width: 120px;
    line-height: 24px;
    z-index: 999;
    background: #FFF;
    border: 1px solid #F2F2F2;
    border-bottom: none;
    border-radius: 3px;
    display: none;
}
.rightMenu li {
    display: block;
    padding: 4px 10px;
    color: #CCC;
    border-bottom: 1px solid #F2F2F2;
}
.rightMenu li:hover {
    background: #EEE;
    color: #666;
}
.layui-tab-item iframe{
    width: 100%;
}